
<ion-content  >
  <div class="contenu">
<ion-img class="logo" src="../../../assets/login.jpg"/>
<h3 class="titre">Let's get started with registration</h3>
<ion-list class="list">

    <ion-label class='label'>First Name</ion-label>
    <ion-input class="input" placeholder=" Enter your first name" type="text"></ion-input>
    <ion-label class='label'>Last Name</ion-label>
    <ion-input class="input" placeholder=" Enter your last name"></ion-input>
    <ion-label class='label'>Email</ion-label>
    <ion-input class="input" placeholder=" Enter your Email"></ion-input>
    <ion-label class='label'>Password</ion-label>
    <ion-input class="input" placeholder=" Enter password"></ion-input>
    <button>Sign Up</button>
</ion-list>
</div>
</ion-content>
