
<ion-content  >
  <div class="contenu">
<ion-img class="logo" src="../../../assets/login.jpg"/>

<h3 class="titre">Login to continue</h3>
<ion-list class="list">


    <ion-label class='label'>Email</ion-label>
    <ion-input class="input" placeholder=" Enter your Email"></ion-input>
    <ion-label class='label'>Password</ion-label>
    <ion-input class="input" placeholder=" Enter password"></ion-input>
    <button>Login</button>
    <h3 class="titre">You don't have an account</h3>
    <button routerLink="/inscription">Register</button>

</ion-list>
</div>
</ion-content>
