@import "/node_modules/bootstrap/dist/css/bootstrap.css";
.logo{
  width:130px;
  height: 130px;
  margin:15px auto;
}
.titre{
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #073cb0;
}
.list{
  background-color: #eef3fd;
  padding:20px;
  border-radius: 20px;
  margin-left:15px;
  margin-right: 15px;
  margin-top: 50px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}
.input{
  margin:10px ;
  width: 90%;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);

}
.label{
  font-weight: bold;
  margin:20px;
  color: rgb(128, 127, 127);
}
.list button{
  padding:15px;
  margin:15px;
  width:85%;
  border-radius: 20px;
  font-weight: bold;
  background-color: #5e8df1;

}
.list ion-button{
  padding:15px;
  margin:15px;
  width:85%;
  border-radius: 20px;
  font-weight: bold;
  background-color: #5e8df1;

}
